@model IEnumerable<GameClubProject.Models.VideoGameMain>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
