@model GamePageDetail
<title>@Model.game.Name</title>
<div class="text-left ml-5 mt-3">
    <a href="~/Home" class="btn btn-dark ">Back</a>
</div>
@if (Model.game.Videos.Values.Length > 0)
{


<div>
    <div>
        @foreach (var video in Model.game.Videos.Values)
        {
            <div>
                <div class="videoHolder mt-5 ml-5 mr-5" preload="auto">
                    <iframe id="vjs_video_2128_Youtube_api"
                            class="vjs-tech" frameborder="0" allowfullscreen="1"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            title="YouTube video player" width="640" height="360"
                            src="https://www.youtube.com/embed/@video.VideoId?controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;loop=0&amp;fs=0&amp;hl=en&amp;iv_load_policy=3&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.igdb.com&amp;widgetid=1"></iframe>
                </div>
            </div>
            <div class="ml-2 mt-2 gameDescription">

                <h6 class="mb-0">@Model.game.Name</h6>
                <small class="mb-0 d-block releaseDate ml-1">@Model.game.release_date.ToString("MMMM dd, yyyy")</small>
                @if (Model.game.Rating == 0)
                {
                    <small class="text-muted d-block mt-3">Rating Unavailable</small>
                }
                else
                {
                    <div class="stars-outer d-block mt-2">
                        <div class="stars-inner " style="width: @Model.game.Rating.ToString()px;"></div>
                    </div>
                }

                @if (Model.game.Platforms == null)
                {
                    <small class="d-inline-block mb-0 text-muted">Platforms unavailable</small>
                }
                else
                {
                    @foreach (var platform in Model.game.Platforms.Values)
                    {
                        <small class="d-inline-block mb-0 text-muted">@platform.Name /</small>
                    }
                }

            </div>
        }
    </div>

    


    <!-- Add Pagination -->

</div>
}
else
{
    <div class="BigUnavailbleImageSection mt-4">
        <img src="~/images/video-unavailable.jpg" alt="game picture" srcset="" class="rounded ">
    </div>
}